
body {
    background-color: #1a1a1a;
    color: #f1f1f1;
  }
  
  .splash-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #1a1a1a;
    opacity: 0.8;
  }
  body{
      background-image: url('static/images/bg.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  .app-title {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 1rem;
  }
  
  .description {
    color: #ddd;
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }
  
  .btn-wide {
    width: 80%;
    max-width: 400px;
    background-color: #f1f1f1 !important;
    color: #1a1a1a !important;
  }
  
  .splash-logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #444;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    font-weight: bold;
  }
  